<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="GemBox.Pdf" version="13.0.0.1067" targetFramework="net452" />
  <package id="GroupDocs.Signature" version="19.10.0" targetFramework="net452" />
  <package id="sautinsoft.document" version="4.0.11.12" targetFramework="net452" />
</packages>